# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django Stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Coverage / Test
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Build / Packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.whl

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# Logs
logs/
*.log

# Cache
.cache/
